<div id="<%= dom_id equipment %>">
  <p>
    <strong>Serial:</strong>
    <%= equipment.serial %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= equipment.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= equipment.model %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= equipment.description %>
  </p>

  <p>
    <strong>Warranty expiration:</strong>
    <%= equipment.warranty_expiration %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= equipment.cost %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= equipment.price %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= equipment.note %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= equipment.condition %>
  </p>

</div>
