<div id="<%= dom_id company %>">
  <p>
    <strong>Account name:</strong>
    <%= company.account_name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= company.contact_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= company.location_id %>
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= company.equipment_id %>
  </p>

</div>
